.add-to-cart {
    margin-right: 10px;
    padding: 9px 6px;
    border-radius: 4px;
    border: 1px solid #21212114; //border-opacity 14%
    min-width: 94px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease 0s;

    .add-to-cart__minus {
        @include resetBtnStyles;
    }
    .add-to-cart__counter {
    }
    .add-to-cart__plus {
        @include resetBtnStyles;
    }

    & > button {
        g {
            transition: all 0.3s ease 0s;
            cursor: pointer;
        }
        &:hover {
            g {
                opacity: 1;
            }
        }
    }

    &:hover {
        border: 1px solid #212121; //border-opacity 14%
    }
}