.offer {
    .offer__tiles {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 387px, 240px;
        grid-gap: 10px;
        .offer__tile {
            background: #f3f3f3;
            border-radius: 4px;

            &.offer__tile_text {
                padding: 50px 20px 20px 20px;

                grid-column: 1/3;

                .offer__title {
                    margin-bottom: 20px;
                }
                .offer__text {
                }
            }

            &.offer__button {
                padding: 20px 20px 20px 20px;

                display: flex;
                flex-direction: column;
                justify-content: space-between;

                svg,
                img {
                    display: block;
                    width: fit-content;
                    align-self: flex-end;
                }

                &.offer__tile_add-to-desk {
                    grid-row: 2;
                }

                &.offer__tile_catalog {
                    grid-row: 2;
                }
            }

            &.offer__tile_img {
                grid-column: 3/5;
                grid-row: 1/3;
                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
    }

    .offer__brands {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        padding-top: 90px;
        padding-bottom: 90px;

        .offer__brand {
            display: block;
        }
    }
}
@media (max-width: 900px) {
    .offer {
        .offer__tiles {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: unset;
            grid-gap: 10px;
            .offer__tile {
                
                &.offer__tile_text {
                    grid-column: 1/3;
                    padding-bottom: 48px;

                    grid-row: unset;
                    .offer__title {
                        margin-bottom: 12px;
                    }
                    .offer__text {
                        br{
                            display: none;
                        }
                    }
                }

                &.offer__button {
                    svg,
                    img {
                    }

                    &.offer__tile_add-to-desk {
                        grid-row: 2;
                        span{
                            margin-top: 20px
                        }

                    }

                    &.offer__tile_catalog {
                        grid-row: 2;
                    }
                }

                &.offer__tile_img {
                    grid-column: 1/3;
                    grid-row: 3;
                    img {
                    }
                }
            }
        }

        .offer__brands {
            padding-top: 60px;
            padding-bottom: 60px;
            .offer__brand {
                max-width: 20%;
            }
        }
    }
}
@media (max-width: 500px) {
    .offer {
        .offer__tiles {
            display: grid;
            grid-template-columns:  1fr;
            grid-template-rows: auto minmax(120px, 1fr) minmax(120px, 1fr) auto ;
            grid-gap: 10px;
            .offer__tile {
                
                &.offer__tile_text {
                    grid-column: 1;
                    // padding-bottom: 48px;
                    padding: 16px 8px 16px 8px;

                    grid-row: unset;
                    .offer__title {
                        margin-bottom: 12px;
                    }
                    .offer__text {
                        br{
                            display: none;
                        }
                    }
                }

                &.offer__button {
                    padding: 11px 8px 11px 8px;
                    span{
                        font-size: 13px;
                    }
                    svg,
                    img {
                    }

                    &.offer__tile_add-to-desk {
                        grid-row: 2;
                        span{
                            margin-top: 20px
                        }

                    }

                    &.offer__tile_catalog {
                        grid-row: 3;
                    }
                }

                &.offer__tile_img {
                    grid-column: 1;
                    grid-row: 4;
                    img {
                    }
                }
            }
        }

        .offer__brands {
            padding-top: 40px;
            padding-bottom: 40px;
            .offer__brand {
            }
        }
    }
}